---
import Layout from "../../layouts/Layout.astro";
import Stack from "../../components/organisms/Stack.astro";
---

<Layout>
    <div>
        <h2>About me</h2>
        <div>
            <p>
                Hello, I'm Jack. I am a self-taught software developer and
                technical writer from the UK. I enjoy building software, and
                writing about how it works.
            </p>
            <p>
                Some of the things I'm interested in include the web, open
                source, functional programming, and AI/ML.
            </p>
            <p>
                I am a dedicated developer and technical writer, and take a
                passionate and pragmatic approach to my work.
            </p>
            <p>Some of the things I've done professionally:</p>
            <ul>
                <li>Built production web applications</li>
                <li>Collaborated with designers, developers, and animators</li>
                <li>Maintained open source developer documentation</li>
                <li>Created tutorials for TypeScript SDKs</li>
                <li>Built Telegram bots</li>
                <li>
                    Seeded RAG databases with custom knowledge in JSON format
                </li>
            </ul>
        </div>
        <div>
            <h3>Technologies</h3>
            <Stack />
        </div>
    </div>
</Layout>
