---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogCard from "../../components/organisms/BlogCard.astro";

const posts = await getCollection("devlog");

const sortedPosts = posts.sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout>
    <h1 class="text-xl font-semibold mb-4">Posts</h1>
    <p class="mb-16 text-slate-400">
        My collection of notes on technical topics.
    </p>
    <ul class="space-y-16 mb-16">
        {
            sortedPosts.map((post) => (
                <li>
                    <BlogCard
                        url={`/devlog/${post.id}`}
                        title={post.data.title}
                        date={post.data.date.toLocaleDateString("en-GB", {
                            day: "2-digit",
                            month: "long",
                            year: "numeric",
                        })}
                        description={post.data.description}
                    />
                </li>
            ))
        }
    </ul>
</Layout>
