---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
    <h1 class="text-3xl font-semibold mb-8">{post.data.title}</h1>
    <article
        class="prose prose-slate prose-p:text-slate-100 prose-headings:text-slate-100 prose-a:text-blue-500 prose-code:text-rose-500 prose-ul:text-slate-100 prose-ol:text-slate-100 prose-strong:text-slate-50 mb-16"
    >
        <Content />
    </article>
</Layout>
