@import "tailwindcss";

body {
    background-color: #121212;
    color: #f5f5f5;
    font-family: var(--font-atkinson-hyperlegible-next) sans-serif;
    line-height: 1.6;
    letter-spacing: -0.015em;
}

h1,
h2,
h3 {
    color: #f5f5f5;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

p {
    margin-bottom: 2.5rem;
}

a {
    color: #f5f5f5;
}

pre {
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

code {
    font-family:
        var(--font-monaspace-neon),
        Menlo,
        Consolas,
        Monaco,
        Adwaita Mono,
        Liberation Mono,
        Lucida Console,
        monospace;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    border-left-style: solid;
    border-left-width: 2px;
    color: #757581;
    margin: 0;
}

blockquote p {
    padding-left: 0.5rem;
}

ul {
    margin-bottom: 2rem;
}

article ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

p code {
    color: #e35e54;
    background-color: transparent;
    padding: 0.25rem;
    border-radius: 5px;
}

.list {
    list-style-type: none;
    margin-left: -2.5rem;
}

.subtext {
    color: #8a8a8a;
}
