@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
    background-color: #161617;
    color: #c9c7cd;
    font-size: 1.125rem;
    line-height: 1.65;
}

a {
    color: #aca1cf;
    text-decoration: underline;
}

h1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2.875rem;
    margin-bottom: 1rem;
}

h3 {
    font-szie: 1.25rem;
    font-weight: 700;
    margin-top: 2.875rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.875rem;
}

p code {
    color: #e29eca;
}

code {
    font-size: 0.875rem;
}

pre {
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

ul {
    list-style-type: disc;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.container {
    max-width: 42rem;
    margin: 0 auto;
    padding: 2rem;
}

.subtext {
    color: #757581;
}
