@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme inline {
    --font-sans: var(--font-inter);
    --font-mono: var(--font-monaspace-neon);
}

pre {
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote p {
    padding-left: 0.5rem;
}

p code {
    color: #e35e54;
    background-color: transparent;
    padding: 0.25rem;
    border-radius: 5px;
}
