@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme inline {
    --font-sans: var(--font-inter);
    --font-mono: var(--font-monaspace-neon);
}

body {
    font-family: var(--font-inter), sans-serif;
}

p {
    margin-bottom: 2.5rem;
}

pre {
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

code {
    font-family:
        var(--font-monaspace-neon),
        Menlo,
        Consolas,
        Monaco,
        Adwaita Mono,
        Liberation Mono,
        Lucida Console,
        monospace;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    border-left-style: solid;
    border-left-width: 2px;
    color: #757581;
    margin: 0;
}

blockquote p {
    padding-left: 0.5rem;
}

article ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

p code {
    color: #e35e54;
    background-color: transparent;
    padding: 0.25rem;
    border-radius: 5px;
}

.list {
    list-style-type: none;
    margin-left: -2.5rem;
}

.subtext {
    color: #8a8a8a;
}
