body {
    background-color: #181818;
    color: #f5f5f5;
    font-family: "Inter Variable", sans-serif;
    line-height: 1.65;
}


h1, h2, h3 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.875rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2.875rem;
}

h3 {
    font-size: 1.25rem;
    margin-top: 2.875rem;
}

p {
    margin-bottom: 2.5rem;
    line-height: 1.65;
}

a {
    color: #f5f5f5;
}

pre {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

code {
    font-family:
        Menlo,
        Consolas,
        Monaco,
        Adwaita Mono,
        Liberation Mono,
        Lucida Console,
        monospace;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    border-left-style: solid;
    border-left-width: 2px;
    color: #757581;
}

blockquote p {
    padding-left: 0.5rem;
}

ul {
    margin-bottom: 2rem;
}

article ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

p code {
    font-size: 1rem;
    color: #aca1cf;
    background-color: #161617;
    padding: 0.25rem;
    border-radius: 5px;
}

.list {
    list-style-type: none;
    margin-left: -2.5rem;
}

.subtext {
    color: #757581;
}
