---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <div class="hero">
            <div>
                <img src="/pfp.png" />
            </div>
            <div>
            <h1>Hi, I'm Jack 👋</h1>
            <p>
                Welcome to my personal website. I am a self-taught developer interested in crafting quality software and writing.
                Currently I'm focused on developer tooling, backend systems, and open source.
            </p>
            </div>
        </div>
        <p>
            For more information about me and my work, feel free to reach out via <a href="mailto:jacksmithxyz@protonmail.com">email</a>, or
            take a look at my <a href="https://github.com/jacksmithxyz"
                >GitHub</a
            >.
        </p>
        <p>Enjoy your stay. 🍵</p>
    </div>
</Layout>

<style>
    .hero {
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
    }

    h1 {
        letter-spacing: -0.015em;
    }

    img {
        width: 350px;
        height: auto;
        border-radius: 9999px;
    }


    @media screen and (max-width: 40rem) {
        .hero {
            flex-direction: column;
        }

        img {
            width: 150px;
        }
    }
</style>
