---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/organisms/Hero.astro";
---

<Layout>
    <Hero />
        <section>
        <p>
            For more information about me and my work, feel free to reach out via <a href="mailto:jacksmithxyz@protonmail.com">email</a>, or
            take a look at my <a href="https://github.com/jacksmithxyz"
                >GitHub</a
            >.
        </p>
                <p>Enjoy your stay. 🍵</p>
        </section>
</Layout>
