---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <div>
            <h1 class="text-3xl font-bold text-stone-100">Hi, I'm Jack 👋</h1>
            <p>Welcome to my personal website.</p>
            <p>
                I am a full-stack developer from the UK. I build software, and
                write about how it works.
            </p>
            <p>
                I am interested in the web, CLI/TUI tools, and cryptography. I
                take a passionate and pragmatic approach to my work.
            </p>
        </div>
        <h3>Some things I've done professionally</h3>
        <ul class="list-disc ml-5">
            <li>Built production-grade web applications</li>
            <li>Public writing on distributed ledger technology</li>
            <li>Maintained open source developer documentation</li>
            <li>Created tutorials for TypeScript SDKs</li>
            <li>Built Telegram bots</li>
        </ul>
        <p>
            For me information about me and my work, feel free to reach out to
            me via <a href="mailto:jacksmithxyz@protonmail.com">email</a>, or
            take a look at my <a href="https://github.com/jacksmithxyz"
                >GitHub</a
            >.
        </p>
        <p>Enjoy your stay. 🍵</p>
    </div>
</Layout>
