---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="space-y-8">
        <div>
            <h1 class="text-2xl font-semibold mb-2">Work with me</h1>
            <p>
                Over the last few years, I have worked with a number of
                high-profile startups doing full-stack development, as well as
                creating developer-focused content. I have extensive experience
                in crypto in particular.
            </p>
        </div>
        <div>
            <h3 class="text-xl font-medium mb-1">Full-stack development</h3>
            <p>
                I have experience building production web apps solo and
                alongside senior developers and designers. The technologies I am
                most proficient with include Svelte/SvelteKit, Astro,
                TypeScript, TailwindCSS, GraphQL, and SQL-based databases like
                SQLite and PostgreSQL.
            </p>
        </div>
        <div>
            <h3 class="text-xl font-medium mb-1">
                Developer content & technical writing
            </h3>
            <p>
                My key skill is breaking down complex topics and making them
                easier to understand. I've created tutorials for TypeScript
                SDKs, built Telegram bots, demonstrated Passkey implementations,
                and maintained open source developer documentation with 80,000+
                page views.
            </p>
        </div>
        <div>
            <h3 class="text-xl font-medium mb-1">Get in touch</h3>
            <p>
                If you want to work with me or just say hi, feel free to get in
                touch via <a
                    class="underline underline-offset-2 text-blue-500"
                    href="mailto:jacksmithxyz@protonmail.com">email</a
                >.
            </p>
        </div>
    </div>
</Layout>
