---
const { url, title, date } = Astro.props;
---

<div class="flex justify-between items-center">
    <h2><a class="hover:opacity-80" href={url}>{title}</a></h2>
    <span class="text-sm font-mono text-neutral-400"
        >{date.toLocaleDateString()}</span
    >
</div>
