---
const { url, title } = Astro.props;
---

<div>
    <h2><a href={url}>{title}</a></h2>
</div>

<style>
    h2 {
        font-weight: 500;
        color: #90b9ff;
    }

    a {
        text-decoration: underline;
    }

    a:hover {
        opacity: 80%;
    }
</style>
