---
import EmailIcon from "../atoms/EmailIcon.astro";
import GitHubIcon from "../atoms/GitHubIcon.astro";
import YouTubeIcon from "../atoms/YouTubeIcon.astro";
---

<footer class="flex justify-between">
    <p class="text-stone-500">&copy; Jack Smith 2025.</p>
    <div class="flex gap-4">
        <a href="mailto:jacksmithxyz@protonmail.com"><EmailIcon /></a>
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/jacksmithxyz"
        >
            <GitHubIcon />
        </a>
        <a
            href="https://youtube.com/@jacksmithxyz"
            target="_blank"
            rel="noopener noreferrer"
        >
            <YouTubeIcon />
        </a>
    </div>
</footer>
