---
import EmailIcon from "../atoms/EmailIcon.astro";
import GitHubIcon from "../atoms/GitHubIcon.astro";
import YouTubeIcon from "../atoms/YouTubeIcon.astro";
---

<footer>
    <div class="container">
    <p class="subtext">&copy; Jack Smith 2025.</p>
    <div class="footer-links">
        <a href="mailto:jacksmithxyz@protonmail.com"><EmailIcon /></a>
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/jacksmithxyz"
        >
            <GitHubIcon />
        </a>
        <a
            href="https://youtube.com/@jacksmithxyz"
            target="_blank"
            rel="noopener noreferrer"
        >
            <YouTubeIcon />
        </a>
    </div>
    </div>
</footer>

<style>
    p {
        margin-bottom: 1rem;
    }

    .footer-links {
        display: flex;
        gap: 1rem;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 42rem;
        margin: 0 auto;
    }
</style>
