---
import { Image } from "astro:assets";
import pfp from "../../assets/pfp.png";
import maomao from "../../assets/maomao.jpg";
---

<div
    class="flex flex-col-reverse gap-2 sm:gap-4 sm:flex-row sm:items-center mb-8 sm:mb-16"
>
    <div>
        <h1 class="text-3xl font-semibold mb-4 text-indigo-500">
            Practicing the art of kaizen 改善
        </h1>
        <p class="text-lg font-medium">
            Hi, I’m Jack 👋 Welcome to my personal website. I am a full-stack developer from the UK.
        </p>
    </div>
    <Image
        src={pfp}
        alt="A picture of me."
        class="w-32 rounded-full"
    />
</div>
