<div>
    <h1>Hi, I'm Jack 👋</h1>
    <p>
        I am a software developer from the UK. I've spent the last few years
        working with startups. I enjoy building software, and writing about how
        it works.
    </p>
</div>

<style>
    h1 {
        font-size: 1.875rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
</style>
