---
import { Image } from "astro:assets";
import pfp from "../../assets/pfp.png";
import maomao from "../../assets/maomao.jpg";
---

<div
    class="flex flex-col-reverse gap-2 sm:gap-4 sm:flex-row sm:items-center mb-8 sm:mb-16"
>
    <div>
        <h1 class="text-3xl font-bold mb-4 text-zinc-100 uppercase">
            Full-stack software development & Rust.
        </h1>
        <p class="text-lg font-medium text-zinc-300">
            Hi, I'm Jack. I’ve spent the last few years working with startups as
            a freelancer and contractor.
        </p>
    </div>
    <Image
        src={pfp}
        alt="A picture of me."
        class="w-xs hidden sm:block sm:w-40 rounded-lg"
    />
</div>
