<div>
    <h1>
        Hi, I'm Jack. I am a self-taught software developer from the UK.
    </h1>
    <p>
        I’ve spent the last few years working as a contractor, mostly within the blockchain industry.
    </p>
    <p>
        I also have a <a href="/blog">blog</a> where I share 
        posts on programming, computer science, and more. Enjoy your stay. 🍵
    </p>
</div>

<style>
    div {
        margin-bottom: 2.5rem;
    }

    h1 {
        font-size: 1.875rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    a {
        font-weight: 500;
    }
</style>
