<header class="mb-16">
    <nav class="flex font-mono uppercase text-slate-300 gap-10 font-medium text-sm">
        <a href="/">jacksmith.xyz</a>
        <a href="/blog">Blog</a>
        <a href="/devlog">Devlog</a>
        <a href="mailto:jacksmithxyz@protonmail.com">Contact</a>
    </nav>
</header>
