<header class="max-w-2xl mx-auto px-4 py-8">
    <nav class="flex justify-between items-center font-mono uppercase text-sm">
        <a href="/">jacksmith.xyz</a>
        <ul class="flex gap-4 sm:gap-8">
            <li>
                <a class="text-neutral-400 hover:underline" href="/">home</a>
            </li>
            <li>
                <a class="text-neutral-400 hover:underline" href="/blog"
                    >posts</a
                >
            </li>
            <li>
                <a class="text-neutral-400 hover:underline" href="/projects"
                    >projects</a
                >
            </li>
        </ul>
    </nav>
</header>
