<header>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a
            href="https://github.com/jacksmithxyz"
            target="_blank"
            rel="noopener noreferrer">GitHub</a
        >
        <a
            href="https://youtube.com/@jacksmithxyz"
            target="_blank"
            rel="noopener noreferrer">YouTube</a
        >
    </nav>
</header>

<style>
    header {
        margin-bottom: 2.5rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    a {
        font-weight: 500;
    }

    .header-group {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .header-text {
        color: white;
        text-decoration: none;
        margin-bottom: 0rem;
    }

    .pfp {
        width: 64px;
        height: 64px;
        border-radius: 9999px;
    }

    @media screen and (max-width: 40rem) {
        nav {
            flex-direction: column;
            gap: 0.5rem;
        }
    }
</style>
