<header class="mb-10">
    <nav
        class="flex flex-col sm:flex-row text-zinc-400 gap-2 sm:gap-10 font-medium"
    >
        <a class="font-bold text-zinc-100" href="/">Jack Smith</a>
        <a class="hover:text-zinc-200" href="/about">About</a>
        <a class="hover:text-zinc-200" href="/blog">Blog</a>
    </nav>
</header>
