<header class="mb-10">
    <nav class="flex items-center justify-between">
        <div class="flex items-center gap-2">
            <img class="w-8 h-8 rounded-full" src="/pfp.png" />
            <a
                class="font-medium text-neutral-200 hover:text-neutral-50"
                href="/">Jack Smith</a
            >
        </div>
        <div class="flex gap-6">
            <a class="text-stone-300 hover:text-stone-100" href="/blog">Posts</a
            >
            <a class="text-stone-300 hover:text-stone-100" href="/now">Now</a>
            <a class="text-stone-300 hover:text-stone-100" href="/uses">Uses</a>
        </div>
    </nav>
</header>

<style>
    a {
        font-weight: 500;
    }

    @media screen and (max-width: 40rem) {
        nav {
            flex-direction: column;
            gap: 1rem;
        }
    }
</style>
