<header>
    <nav class="flex items-center justify-between">
        <div class="flex items-center gap-2">
            <img class="w-8 h-8 rounded-full" src="/pfp.png" />
            <a
                class="font-medium text-neutral-200 hover:text-neutral-50"
                href="/">Jack Smith</a
            >
        </div>
        <div class="flex gap-6">
            <a href="/blog">Posts</a>
            <a href="/now">Now</a>
            <a href="/uses">Uses</a>
        </div>
    </nav>
</header>

<style>
    header {
        margin-bottom: 2.5rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    a {
        font-weight: 500;
    }

    @media screen and (max-width: 40rem) {
        nav {
            flex-direction: column;
            gap: 1rem;
        }
    }
</style>
