<header class="mb-10">
    <nav
        class="flex flex-col sm:flex-row uppercase text-zinc-400 gap-2 sm:gap-10 font-medium text-sm"
    >
        <a class="font-bold text-zinc-100" href="/">jacksmithxyz</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <a href="/work-with-me">Contact</a>
    </nav>
</header>
