<header>
    <nav>
        <a href="/">Jack Smith</a>
        <a href="/about">About</a>
        <a href="/blog">Posts</a>
    </nav>
</header>

<style>
    header {
        margin-bottom: 2.5rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    a {
        color: #757581;
        font-weight: 500;
    }

    a:hover {
        color: #9998a8;
    }

    @media screen and (max-width: 40rem) {
        nav {
            flex-direction: column;
            gap: 1rem;
        }
    }
</style>
