<div class="mb-16">
    <ul class="font-mono text-zinc-400 grid grid-cols-4 gap-4">
        <li>Astro</li>
        <li>TypeScript</li>
        <li>TailwindCSS</li>
        <li>Railway</li>
        <li>Rust</li>
        <li>Node</li>
        <li>PostgreSQL</li>
    </ul>
</div>
