<div class="mb-16">
    <ul
        class="font-mono text-sm text-zinc-400 uppercase grid grid-cols-2 sm:grid-cols-4 gap-4"
    >
        <li>Astro</li>
        <li>Node</li>
        <li>PostgreSQL</li>
        <li>Railway</li>
        <li>Svelte(Kit)</li>
        <li>TailwindCSS</li>
        <li>TypeScript</li>
    </ul>
</div>
