---
import "../styles/global.css";
import Head from "../components/Head.astro";
import Navbar from "../components/organisms/Navbar.astro";
import Footer from "../components/organisms/Footer.astro";
---

<html lang="en">
    <Head />
    <body class="bg-neutral-950 text-neutral-100 text-lg/normal">
        <Navbar />
        <main class="max-w-2xl mx-auto p-4">
            <slot />
        </main>
        <Footer />
    </body>
</html>
