---
import "../styles/global.css";
import Navbar from "../components/organisms/Navbar.astro";
import Footer from "../components/organisms/Footer.astro";
import "@fontsource/monaspace-neon";
import "@fontsource/monaspace-argon";
import "@fontsource-variable/inter";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Jack Smith</title>
    </head>
    <body>
        <div>
            <Navbar />
            <main>
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>

<style>
    main {
        max-width: 42rem;
        margin: 0 auto;
        padding: 2rem;
    }
</style>
